In [2]:
#Import Lib
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [3]:
#import Data
df = pd.read_csv('/content/data.csv')
Class = df.keys()[-1]
df.head()

        Age Experience      Rank Nationality  Go
0  1_Middle   1_Medium  2_Expert          UK   0
1  1_Middle     2_High  0_Normal         USA   0
2   0_Young      0_Low    1_Good      Others   0
3     2_Old      0_Low  0_Normal         USA   0
4  1_Middle     2_High  2_Expert         USA   1

In [5]:
#Classify data (target and attribute)
Class = df.keys()[-1]
inputs = df.drop(Class, axis=1)
target = df[Class]
print('Đầu vào là:\n',inputs)
print('Đầu ra là:\n',target)

Đầu vào là:
          Age Experience      Rank Nationality
0   1_Middle   1_Medium  2_Expert          UK
1   1_Middle     2_High  0_Normal         USA
2    0_Young      0_Low    1_Good      Others
3      2_Old      0_Low  0_Normal         USA
4   1_Middle     2_High  2_Expert         USA
5   1_Middle     2_High  0_Normal          UK
6      2_Old      0_Low    1_Good      Others
7    0_Young     2_High  2_Expert          UK
8      2_Old     2_High    1_Good      Others
9    0_Young      0_Low  2_Expert      Others
10   0_Young      0_Low  0_Normal         USA
11   0_Young      0_Low    1_Good          UK
12     2_Old   1_Medium  2_Expert          UK
Đầu ra là:
 0     0
1     0
2     0
3     0
4     1
5     0
6     1
7     1
8     1
9     1
10    0
11    1
12    1
Name: Go, dtype: int64

In [6]:
#Transform data from String to Int
Colunm1_Age = LabelEncoder()
Colunm2_Exp = LabelEncoder()
Colunm3_Rank = LabelEncoder()
Colunm4_Nationality = LabelEncoder()

inputs['Age_n'] = Colunm1_Age.fit_transform(inputs['Age'])
inputs['Exp_n'] = Colunm1_Age.fit_transform(inputs['Experience'])
inputs['Rank_n'] = Colunm1_Age.fit_transform(inputs['Rank'])
inputs['Nation_n'] = Colunm1_Age.fit_transform(inputs['Nationality'])

inputs_n = inputs.drop(['Age','Experience','Rank' ,'Nationality'], axis = 'columns')
print('input la:\n', inputs)
print('input_n la:\n', inputs_n)
print('target la: \n',target)
print(df[Class].value_counts())

input la:
          Age Experience      Rank Nationality  Age_n  Exp_n  Rank_n  Nation_n
0   1_Middle   1_Medium  2_Expert          UK      1      1       2         1
1   1_Middle     2_High  0_Normal         USA      1      2       0         2
2    0_Young      0_Low    1_Good      Others      0      0       1         0
3      2_Old      0_Low  0_Normal         USA      2      0       0         2
4   1_Middle     2_High  2_Expert         USA      1      2       2         2
5   1_Middle     2_High  0_Normal          UK      1      2       0         1
6      2_Old      0_Low    1_Good      Others      2      0       1         0
7    0_Young     2_High  2_Expert          UK      0      2       2         1
8      2_Old     2_High    1_Good      Others      2      2       1         0
9    0_Young      0_Low  2_Expert      Others      0      0       2         0
10   0_Young      0_Low  0_Normal         USA      0      0       0         2
11   0_Young      0_Low    1_Good          UK      0      0       1         1
12     2_Old   1_Medium  2_Expert          UK      2      1       2         1
input_n la:
     Age_n  Exp_n  Rank_n  Nation_n
0       1      1       2         1
1       1      2       0         2
2       0      0       1         0
3       2      0       0         2
4       1      2       2         2
5       1      2       0         1
6       2      0       1         0
7       0      2       2         1
8       2      2       1         0
9       0      0       2         0
10      0      0       0         2
11      0      0       1         1
12      2      1       2         1
target la:
 0     0
1     0
2     0
3     0
4     1
5     0
6     1
7     1
8     1
9     1
10    0
11    1
12    1
Name: Go, dtype: int64
1    7
0    6
Name: Go, dtype: int64

In [10]:
#Use sklearn Lib to Classify and predict
classifier = DecisionTreeClassifier()
classifier.fit(inputs_n, target)
classifier.score(inputs_n, target)
classifier.predict([[0,1,0,0]])

predict_result = classifier.predict([[0,1,0,0]])
if predict_result == 0:
    result = "ÍT KHÁN GIẢ - THẤT BẠI"
else:
    result = "NHIỀU KHÁN GIẢ - THÀNH CÔNG"

print('\nDự đoán buổi biểu diễn khi có thông tin của một nghệ sĩ với [Age = Young, Experience = Medium, Rank = Normal, Nationality = Others] thì kết quả sẽ là: ',result,'\n\n\n\n')

Dự đoán buổi biểu diễn khi có thông tin của một nghệ sĩ với [Age = Young, Experience = Medium, Rank = Normal, Nationality = Others] thì kết quả sẽ là:  ÍT KHÁN GIẢ - THẤT BẠI

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"